{
  "extends": [
    "wesbos/typescript"
    //    "react-app"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-unsafe-assignment": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    "no-use-before-define": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "off",
    "jsx-a11y": "off",
    "no-undef": "off",
    "@typescript-eslint/ban-types": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "object-curly-spacing": ["error", "always"],
    "linebreak-style": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "no-console": "off",
    "class-methods-use-this": "off"
  }
}